---
layout: default
title: CV
---
<main>
  <div class="container">
    <div class="row">
      <div class="col s12 center-align"><h2>Daniel Green</h2></div>
      <div class="col s12 center-align">
        <a href="mailto:daniel@danielgreen.uk" style="color: inherit; text-align: center;">
          <h6>daniel@danielgreen.uk</h6>
        </a>
      </div>
      <div class="section col s12" name="personal-statement">
        <div class="center"><h5>Personal Statement</h5></div>
        <p>
          {{ site.data.personal_statement }}
        </p>
      </div>
      {% for section in site.data.cv %}
      <div class="section col s12" name="{% for work in section %}{{ work.section-title | slugify }}{% endfor %}">
        <h5 class="center">{% for work in section %}{{ work.section-title }}{% endfor %}</h5><br>
        <ul class="collapsible">
          {% for work in section %}{% if work.render == true %}
          <li>
            <div class="collapsible-header">
              <h6 class="valign-wrapper">
                {% if work.website != "" %}<a href="{{ work.website }}" target="_blank"><img src="/assets/images/{{ work.image }}" style="height: 25px; padding-right: 1rem;"></a>{% endif %}
                {{ work.position }}{% if work.company != "" %}, {{ work.company }}{% endif %}
              </h6>
            </div>
            <div class="collapsible-body">
              {% if work.start-month != "" %}<div style="font-size: small;">{{ work.start-month | date: "%b %Y" }} - {{ work.end-month | date: "%b %Y"}}</div>{% endif %}
              {% for desc in work.description %}
                <div>- {{ desc }}</div>
              {% endfor %}
            </div>
          </li>
          {% endif %}{% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
</main>